body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333140;
}

li {
  float: right;
}

li a:hover {
  color: gray;
}

a:link {
  text-decoration: none;
  color: white;
}

a.nav {
  display: block;
  text-align: center;
  padding: 16px;
}

h1 {
  font-size: 64px;
  margin: 220px;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* styles cart header*/
h2 {
  font-size: 18px;
  margin: 0;
  text-align: left;
}

/* makes the table centered in the page */
table.centered {
  margin-left: auto;
  margin-right: auto;
}

/* makes elements in the left column right-aligned */
td.left {
  text-align: right;
}

/* makes elements in the right column left-aligned */
td.right {
  text-align: left;
}

/* style submission boxes */
input[type=text] {
  color: gray;
  text-align: center;
  border: 0;
  border-bottom: 1px gray solid;
  padding: 12px;
}

/* style submit button */
input[type=submit] {
  color: white;
  background-color: black;
  border: 0;
  padding: 12px;
}

/* style cart pop-up */
.cart-contents {
  float: right;
  position: fixed;
  right: 16px;
  bottom: 80px;
  height: 100px;
  border: 2px gray solid;
  padding: 24px 24px;
  background-color: white;
}

/* style cart button */
.cart {
  color: white;
  font-size: 14px;
  padding: 12px;
  float: right;
  display: block;
  background-color: black;
  position: fixed;
  right: 16px;
  bottom: 16px;
  border: 0;
}
